@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Nunito Sans', sans-serif;
}

header{
    font-family: 'Preahvihear', sans-serif;
    background-color:rgb(76, 192, 228);
    display: flex;
    justify-content: space-between;
    padding: 10px 10vw;
    align-items: center;
    background-color:hotpink;
    
}

header nav ul li a:hover{
    transition:1s;
    box-shadow: #ffffff 0px 5px 15px;
  }

header nav ul li a{
    text-decoration: none;
    padding: 15px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 35px;
    color:white; 
    box-shadow: #e9b0b0 0px 2px 5px -1px, 0px 1px 3px -1px;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
    align-items: center;
}

.logo1{
    margin-top: 10px;
    background-size:50%;
    background-repeat:no-repeat;
    height:100px;
    width:200px;
}

