.filme_content{
    /* width: 300px; */
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
}

.foto_filme{
    display: flex;
    min-height: 350px;
    align-items: center;
    justify-content: center;
}

.foto_filme>img{
    width: 100%;
}

.sinopse{
    text-align: justify;
}