.content_main{
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;

    /* gap: 30px;
    flex-wrap: wrap;
    justify-content: center; */
}