.content_main{
    padding: 15px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
    min-height: 60.7vh;
    /* gap: 30px;
    flex-wrap: wrap;
    justify-content: center; */
}

.barrapesquisa{
    height: 30px;
    width: 300px;
    border: 1px solid #b1b1b1;
    border-radius: 6px;
    margin-right: 20px;
    font-size: 1rem;
}

.barrapesquisa:focus-visible{
outline: 1px solid hotpink;
}

.pesquisa{
    padding: 15px 100px;
}